body {
  background: rgb(244, 252, 253);
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 30px;
}

.btn {
  font-size: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(28, 8, 80);
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 40px;
}
tml {
  margin: 0;
  padding: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-size: 20px;
}

caption {
  margin-bottom: 14px;
  font-size: 30px;
}

th {
  background-color: #374d7c;
  color: #fff;
}

table {
  border-radius: 5px;
  margin: 0 auto;
}

td {
  background-color: #fdf289;
}

td,
th {
  padding: 10px 20px;
}

tfoot td {
  background-color: #46edc8;
  text-align: center;
}
